
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: sans-serif;
}

#homepage-header{
  background: silver;
  width: 80vw;
  height: auto;
  margin: auto;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1),
              0px 8px 15px rgba(0, 0, 0, 0.1),
              0px 8px 15px rgba(0, 0, 0, 0.1);
}
.homepage-img{
  width: 42vw;
  height: 50vh;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, .1),
              -10px 8px 15px rgba(0, 0, 0, .1),
              10px 8px 15px rgba(0, 0, 0, .1);
}

#homepage-top{
  display: inline-block;
  float: right;
}

#seeuup-logo1{
  background: #fff;
  height: 45px;
  width: 25vw;
  position: relative;
  left: 11.5rem;
}

.seeuup-logo1-img{
  height: 15vh;
  margin-top: 2rem;
  display: inline-block;
}

.header-p{
  display: inline-block;
  float: right;
  font-size: 2rem;
  width: 20vw;
  margin-right: 15rem;
  margin-top: 5rem;
  color: #0072ff;
}

#homepage-globe-img{
  width: 200px;
  margin-left: 83rem;
  margin-top: -13rem;
  display: flex;
  float: right;
}

.uup-logo{
  height: 10vh;
  width: 5vw;
  float: right;
  display: inline-block;
  margin-right: 15rem;
  margin-top: 3rem;
  cursor: pointer;
}

.uup-logo p{
  font-size: 1.2rem;
  font-weight: bold;
  color: #0072ff;
  line-height: 1;
  width: 10px;
  margin-bottom: -0.18rem;
}

.body-p{
  width: 60vw;
  margin-left: 12rem;
  margin-top: 3rem;
  display: inline-block;
  font-size: 1.52rem;
  font-weight: bold;
  color: #0072ff;
}
