*{
  box-sizing: border-box;
}

#seeuup-login-form{
  height: 10vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 1;
  color: #ffffff !important;
  z-index: 1;
}

.login-seeuup{
  display: inline-block;
  float: left;
  padding-right: -3rem;
}
.login-logo{
  width: 3.5vw;
  /* padding-left: -15rem; */
  border-radius: 15%;
}
.seeuup-logo1-img-login{
  width: 3vw;
  height: 6vh;
  z-index: 0;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

#login-sec-div{
  position: absolute;
  display: inline-block;
  float: right;
}

.button{
  width: 8vw;
  z-index: 1;
  border: 1px solid #ffffff;
  font-size: 1.2rem;
  margin-left: 2rem;
  background: #2b4250 !important;
}

#emails-float{
  display: inline-block;
  width: 15vw;
  margin-right: 1.5rem;
}

#password-float{
  display: inline-block;
  width: 15vw;
}

#emails{
  font-size: 1.5rem;
}

#password{
  font-size: 1.5rem;
}
