*{
  box-sizing: border-box;
}

#seeuup-login-form{
  margin-top: 2rem;
  width: 80vw;
  display: inline-block !important;
  z-index: 2;
}

#emails-float{
  display: inline-block;
}

#password-float{
  display: inline-block;
}
