*{
  box-sizing: border-box;
}

body{
  background-image: url("/public/images/example1.jpg");
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  overflow-x: hidden;
  width: auto;
  height: auto;
}
label{
  color: #ffffff !important;
  font-size: 1.5rem;
}

.main-form{
  height: 50vh;
  width: 30vw;
  position: absolute;
  top: 25vh;
  left: 50%;
  text-align: center;
  background: #2b4250;
  color: #ffffff !important;
  z-index: 0.8;
}

.ro{
  height: auto;
  display: flex;
  align-items: center;
  color: #fff;
}

.background-img{
  width: 33.3vw;
  height: 55vh;
  opacity: 1;

}

.container{
  background-image: url("/public/images/example1.jpg"); */
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;

}

.video-fullscreen{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
}

.video-fullscreen video{
  min-width: 100%;
  min-height: 100%;
}

#form-overlay{
  height: 1085px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #2b4250;
  z-index: 1;
  opacity: 0.85;
}

.registration-form{
  margin-left: 40rem;
  margin-top: 10rem;
  opacity: 0.60;
  z-index: 2;
  background: #93a0aab8 !important;
}
.callout{
  background: #2b4250 !important;
}
